@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$PrimaryLayoutColor: #edebf0;
$SecondaryLayoutColor: #e89cab;

$PrimaryFont: "Poppins", sans-serif;

$PrimaryFontColor: #2b2b2b;
$SecondaryFontColor: white;
$TitleFontColor: #0f2851;

$AccentColor1: #b8453f;
$AccentColor2: #FCD1D8;


$ButtonColor: #f98065;

// $MenuColor1: #FF6666;
// $MenuColor2: #8ED2A5;
// $MenuColor3: #A08ED2;
// $MenuColor4: #FF9D66;
// $MenuColor5: #e6b63d;

$ErrorColor: #ff6666;
$SuccessColor: #8ed2a5;
$WarningColor: #ffd260;

$HeaderFontSize: 3.2rem;
