@import "../../styles/variables.scss";

.container {
   // background-color: $SecondaryLayoutColor;
   // background: linear-gradient(90deg, #fdb4bf 0%, #f79aa2 100%);
   color: $SecondaryFontColor;
   box-sizing: border-box;
}

.loginBtn {
   transition: 0.2s;

   &:hover {
      cursor: pointer;
      background-color: $ButtonColor;
      font-weight: bold;
      border-color: transparent;
      
   }
}

.pageBtn {
   transition: 0.2s;

   &:hover {
      cursor: pointer;
      color: $AccentColor1;
   }
}

.header {
   font-size: $HeaderFontSize;
   font-weight: bold;
}

.leftBtn {
   transition: 0.2s;
   background-color: $AccentColor2;

   &:hover {
      cursor: pointer;
      background-color: $PrimaryLayoutColor;
      color: $SecondaryLayoutColor;
   }
}

.rightBtn {
   transition: 0.2s;
   background-color: $AccentColor2;

   &:hover {
      cursor: pointer;
      background-color: $PrimaryLayoutColor;
      color: $SecondaryLayoutColor;
   }
}