@import "../../styles/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $PrimaryFont;
    font-size: 14px;
}

.background {
    // background-color: red;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: $SecondaryLayoutColor;
    background: linear-gradient(90deg, #fdb4bf 0%, #f79aa2 100%);
    z-index: -100;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}

.container {
    color: black;
    display: grid;
    grid-template-columns: 7vw auto;

    height: 100vh;
}

.leftSpace {
    background-color: #59e38c69;
}
